<div class="card text-white bg-light mb-3" id="attachment">
  <input id= "closeAttachment" type="image" src="../../assets/x-close.png" class= "bg-secondary"
         alt="Close" width="15" height="15"
         (click)="onCloseDate()"/>
  <div class="card-header text-center text-secondary">Attach from...</div>
  <div class="card-body" id="addAttachment">
      <input type="file"
             id="file"
             class="inputfile "
             (change)="handleFileInput($event.target.files)"
             multiple>
      <label for="file" class= "text-info">Computer</label>
  </div>
</div>
