<div class = "bg-img">
  <div class="container">
    <div class="row mb-5">


        <div class="mt-5 ml-3">
          <h3 class="display-4 text-light">{{username}}</h3>
        <form class="form-inline">
          <input type="text" id="userName" name="userName" class="form-control bg-dark lead text-light mt-2 mr-2 "
          [value]="name">
          <input type="text" class="form-control bg-dark text-light mt-2" [value]="email" id="userEmail"
          name="userEmail">
          <p  class="text-danger" *ngIf="errorInvalidFormat">Invalid email format!</p>
        </form>
        <br>
        </div>
        <div class="col-4"></div>
        <div class="card bg-dark border-dark" style="max-width: 18rem; margin-top:4rem">
          <div class="card-body">
            <img src= {{currentProfilePic}} height="230" width="230">
          </div>
          <div class="card-footer" *ngIf="sameProfile">
              <input type="file" id="file" style="display: none" (change)="handleFileInput($event)" #fileUpload>
              <button for="file" class="btn btn-outline-light ml-4 fileUpload" (click) = "fileUpload.click()">Change profile picture</button>
          </div>

        </div>
    </div>
    <form class="form-inline">
        <button class="btn btn-primary bg-info " *ngIf="sameProfile" (click) = "onChangeName()">Change name</button>
      <button class=" btn btn-primary bg-info ml-2"  *ngIf="sameProfile" (click)="onChangeEmail()">Change email</button>
      <button class=" btn btn-primary bg-info ml-2"  *ngIf="sameProfile" (click)="triggerModalOpen(modalPass)">Change password</button>
      <ng-template #modalPass let-modal>
              <div class="modal-header bg-dark">
                <h4 class="modal-title text-light" id="modal-basic-title">Change password</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body bg-dark">
                <form [formGroup]="modalFormPassword" (ngSubmit)="submitFormPassword()">
                    <label class="text-light">Current password:</label><label class="text-danger">*</label>
                    <div class="input-group">
                      <input  [type]=" fieldTextType ? 'text' : 'password'"  class="form-control" formControlName="updatePasswordOld" >
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i
                            class="fa"
                            [ngClass]="{
                              'bi bi-eye-slash': !fieldTextType,
                              'bi bi-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"></i>
                        </span>
                     </div>
                    </div>

                    <hr class="bg-secondary">
                    <label class="text-light">New password:</label><label class="text-danger">*</label>
                    <div class="input-group">
                      <input  [type]=" fieldTextType ? 'text' : 'password'" class="form-control" formControlName="updatePasswordNew">
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i
                            class="fa"
                            [ngClass]="{
                              'bi bi-eye-slash': !fieldTextType,
                              'bi bi-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"></i>
                        </span>
                     </div>
                    </div>

                    <p class="text-danger"  *ngIf="updatePasswordNew.errors?.pattern || updatePasswordNew.errors?.minlength">Password must have at least 6 characters including one number and one letter</p>
                    <hr class="bg-secondary">
                    <label class="text-light">Confirm new password:</label><label class="text-danger">*</label>
                    <div class="input-group">
                      <input  [type]=" fieldTextType ? 'text' : 'password'"  class="form-control" formControlName="updatePasswordNewConfirm">
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i
                            class="fa"
                            [ngClass]="{
                              'bi bi-eye-slash': !fieldTextType,
                              'bi bi-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"></i>
                        </span>
                     </div>
                    </div>

                    <p  class="text-danger" *ngIf="passDontMatch">Passwords don't match!</p>
                    <p class="text-danger"  *ngIf="updatePasswordNewConfirm.errors?.pattern || updatePasswordNewConfirm.errors?.minlength">Password must have at least 6 characters including one number and one letter</p>
                    <p class="text-danger"  *ngIf="updatePasswordNewConfirm.errors?.required || updatePasswordNew.errors?.required || updatePasswordOld.errors?.required">You must fill in all the fields</p>
                    <hr class="bg-secondary">


                  <button type="submit" class="btn btn-info"  [disabled]="!modalFormPassword.valid">Finish</button>
                </form>
              </div>
            </ng-template>
            <button class=" btn btn-primary bg-info ml-2"  *ngIf="sameProfile" (click)="triggerModalOpen(DeleteAcc)">Delete account</button>
            <ng-template #DeleteAcc let-modal>
                    <div class="modal-header bg-dark">
                      <h4 class="modal-title text-light" id="modal-basic-title">You are about to delete your account. <br> Do you want to proceed?</h4>

                      <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body bg-dark">
                    <button type="button" class="btn btn-info" (click)="deleteAcc()">Yes</button>

                  </div>
                  </ng-template>


      <button class=" btn btn-primary bg-info ml-2"  *ngIf="sameProfile" (click)="logout()">Log out</button>
    </form>


    <div class = "row p-2 mt-3">
      <button class = "btn col-12 text-light" style="background-color: salmon;" *ngIf="sameProfile" (click)="triggerModalOpen(modalData)">Create new project</button>
      <ng-template #modalData let-modal>
        <div class="modal-header bg-dark">
          <h4 class="modal-title text-light" id="modal-basic-title">New Project</h4>
          <button type="button" class="close"
           (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body bg-dark">
          <form [formGroup]="modalForm" (ngSubmit)="submitForm()">
            <div class="form-group">
              <label class="text-light">Insert project name:</label>
              <input formControlName="name" class="form-control">
              <label class="text-light">Insert team members:</label>
              <input formControlName="members" class="form-control">
              <label class="text-light">Insert description of the project:</label>
              <textarea formControlName="description" class="form-control"></textarea>
              <label class="text-light">Insert board name:</label>
              <input formControlName="boardName" class="form-control" placeholder="Enter board name">
            </div>
            <button type="submit" class="btn btn-info" [disabled]="!modalForm.valid">Finish</button>
          </form>
        </div>

      </ng-template>

    </div>
    <app-navlist></app-navlist>
  </div>

</div>
