ul {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  padding: 10px 10px;
}

li a, li button {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}

li a:hover, li button:hover {
  color: black;
}

li button {
  font-size: 20px;
}
