<div class="bg-img" >
  <app-board-nav-bar [currentBoardId]="this.boardId" [projectId]="this.projectId"></app-board-nav-bar>
  <div class = "py-3">
    <div class="container">
      <input class="display-4 text-light" value="{{ boardName }}" id="nameOfTheBoard" (blur)="changeBoardName($event)">
      <form class="form-inline" onkeypress="return event.keyCode !== 13">
        <input type="text" id="listName" class="form-control bg-dark lead text-light mt-2" placeholder="Enter new list"/>
        <input type="button" class="btn btn-primary bg-info ml-2 mt-2" (click)="onCreateList()" value="Add new list"/>
      </form>
    </div>
  </div>

  <div class="column">
    <div id="lists" cdkDropListGroup>
      <app-list *ngFor="let element of lists" [listName]="element.name" [board]="this" [listId]="element._id"></app-list>
    </div>
  </div>


</div>
