#list {
  border: 3px solid black;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  width: 300px;
  border-radius: 28px;
  background-color: lightgray;
}

#nameOfTheList {
  border: none;
  background: none;
  text-align: center;
  width: 200px;
}

.btn {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  background-color: RoyalBlue;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.drag-drop-area {
  cursor: grab;
}

.card-style {
  background-color: white;
  border-radius: 8px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -20px;
  margin-bottom: -5px;
}

.success {background-color: #04AA6D;}

.danger {background-color: #fa8072;}

.in-progress {background-color: #E6D10F;}

#date {
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-size: 15px;
  width: fit-content;
  margin-left: 5px;
  border-radius: 0.2rem;

}
.emptyDate{
   margin-left:12rem;
   margin-top:1rem;
}
.hasDate{
   margin-left:8rem;
  padding-top:1rem;
}
