#checklist{
  margin-bottom: 3rem;
}
#checklistTitle{
  border: none;
  background: none;
  font-size: 1.25rem;
}

#deleteButton{
  height: 2.5rem;
  width: 6rem;
}

#progressBar{
  width: 32rem;
  height: 0.5rem;
  margin-bottom: 1rem;
}

#addItem{
  margin-left: 7rem;
}

#btImg{
  margin-top: 0.5rem;
  margin-left: 1rem;
  border: none;
}
#btImg:focus, #btImg:hover{
  transform: scale(1.1);
}
