<div id="checklist" *ngIf="checklist">
  <div class="row" style="margin-left: 3.5rem;">
    <input class="text-light " value= "{{ checklist.title }}" id="checklistTitle" name="checklistTitle"
            (blur)="onChangeClTitle($event.target.value)">
    <button *ngIf="foundChecked()"  type="button"
           class="btn btn-outline-light" (click)="onHideCheckedItems()">{{ hideOrShow }}</button>
    <button type="button" id="deleteButton" [ngStyle]="calculateStyleDelete()"
           class="btn btn-outline-light" (click)="onDeleteChecklist()">Delete</button>
  </div>


  <div class="form-inline" style="margin-left: 3.7rem; margin-top: 0.5rem; width: 35rem;">
      <div style="width: 3rem; margin-bottom: 1rem;">{{ showProgressPercentage }}%</div>
      <ngb-progressbar id="progressBar" type={{getProgressType()}} textType="white" [value]="progressPercentage"></ngb-progressbar>
  </div>


  <div *ngFor="let item of items" style="margin-left: 5rem; margin-bottom: 1rem;">
       <app-checklist-item [item]="item" [checklist]="this" [checklistId]="this.checklist._id" [hideChecked]="hideCheckedItems">
       </app-checklist-item>
  </div>

  <button *ngIf="!askForItemName" type="button" id="addItem"
          class="btn btn-outline-light"
          (click)="onAddItem()"
          (keydown.enter)="onAddItem()">
          Add an Item
  </button>

  <textarea class="form-control"
            onkeypress="return event.keyCode !== 13"
            *ngIf="askForItemName"
            placeholder="Add and item"
            [(ngModel)]="itemName"
            (keydown.enter)="onAddCheckbox()"
            (keydown.esc)="onCloseItemInput()"
            style="margin-left: 7rem; width: 32rem;"
            rows="2">
  </textarea>

  <button *ngIf="askForItemName"  type="button"
          class="btn btn-success"
          style="margin-left: 7rem; margin-top: 0.5rem;"
          (click)="onAddCheckbox()">
          Add
  </button>

  <button *ngIf="askForItemName" type="button"
          id="btImg"
          class = "btn btn-outline-dark"
          style="margin-top: 0.5rem; margin-left: 1rem; border: none;"
          (click)="onCloseItemInput()">
         <img src="../../assets/x-close.png" alt="Close" width="30" height="30">
  </button>

</div>
