#card{
  width: 70rem;
  min-height: 50rem;
}

#cardTitle{
  border: none;
  background: none;
  font-size: 1.5rem;
}

#cardBody{
  height: auto;
  display: grid;
  grid-template-columns: 1fr 25rem;
  grid-gap: 2rem;
}

#description{
  margin-left: 3.3rem;
  width: 28rem;
  height: 12rem;
  resize: none;
}

#options{
  position: absolute;
  left: 87rem;
  top: 30rem;
  right: 0rem;
  bottom: 0rem;
}

#closeCard{
  margin-left: 68.2rem;
  margin-top: 0.5rem;
  position: absolute;
  z-index: 1;
}

#labelsTitle{
  margin-left: 1.5rem;
  margin-top: 1rem;
}

#listOfLabels{
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#labelPic img{
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

#dueDate{
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.label {
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.success {background-color: #04AA6D;}

.danger {background-color: #fa8072;}

#attachment {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  line-height: 5rem;
  text-align: center;
  color: lightgrey;
}


.landscape {
  width: 5rem;
  height: 5rem;
  background-color:rgba(0,0,0,0.4);
  text-align: center;
  border-radius: 0.5rem;
}

.mat-dialog-content {
  max-height: 900px;
}
