<div class = "jumbotron bg-img text-dark">
      <div class="row justify-content-center align-items-center">
        <h1>Log in</h1>
      </div>
      <hr/>
      <div class="row justify-content-center align-items-center text-light ">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-dark card">
            <form [formGroup]="loginForm"  (ngSubmit)="submitForm()">

            <div class="form-group mt-3">
                <label for="userEmail">Email address</label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                <p  class="text-danger" *ngIf="email.errors?.email">Email is not in the right format</p>
            </div>
            <div class="form-group">
                <label  for="userPassword">Password</label>
                <div class="input-group">
                  <input
                  [type]=" fieldTextType ? 'text' : 'password'" class="form-control" id="userPassword" placeholder="Enter password" formControlName="password">
                  <div class="input-group-append">
                      <span class="input-group-text">
                          <i
                          class="fa"
                          [ngClass]="{
                            'bi bi-eye-slash': !fieldTextType,
                            'bi bi-eye': fieldTextType
                          }"
                          (click)="toggleFieldTextType()"></i>
                      </span>
                   </div>
                </div>

              </div>


              <div class="row">
                  <div class="col text-center">
                    <button type="submit" class="btn btn-info btn-lg col-sm-8 " [disabled]="!loginForm.valid">Submit</button>
                </div>
              </div>
                <div class="row">
                    <div class="col text-center mt-2 mb-2">
                        <nav>
                        <a [routerLink] = "['/register']" class="text-light" routerLinkActive="active">Don't have an account? Create one here!</a>
                      </nav>
                    </div>
                </div>
          </form>
        </div>
      </div>
    </div>

